{% extends './layout.html' %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'account/css/forms.css' %}">{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="form-container">
        <h1 class="form-title">Register</h1>
        <form class="functional-form" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.first_name }}
            {{ form.email }}
            {{ form.password }}
            {{ form.password2 }}
            <button class="form-btn" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
