*{
    margin: 0;
    padding: 0;
}

.categories-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 30px 60px;
    background-color: darkblue;
    border-radius: 0 0 50px 50px;
    margin-bottom: 30px;
}

.category-btn {
    border: 0;
    color: #FFF;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: chocolate;
    transition: all .3s linear;
    &:hover {
        cursor: pointer;
        background-color: rgb(160, 75, 14);
    }
}

.products-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.product-card {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px;
}