{% extends './layout.html' %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'shop/css/forms.css' %}">{% endblock %}

{% block title %}Create{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Add new product</h1>
        <form class="functional-form" method="post">
            {% csrf_token %}
            {{ form.title }}
            {{ form.price }}
            {{ form.category }}
            <button class="form-btn">Create product</button>
        </form>
    </div>
{% endblock %}