{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/shop.css' %}">
    <title>SHOP</title>
</head>
<body>
    <div class="categories-container">
        {% for category in categories %}
        <button class="category-btn" data-category={{ category.id }}>{{category.title}}</button>
        {% endfor %}
    </div>
    <div class="products-container"></div>
</body>
{{ products|json_script:"products_json" }}
<script src="{% static 'shop/shop.js' %}"></script>
</html>