*{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 0 160px;
}

header {
    box-sizing: border-box;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
    color: black;
}

.search-block {
    display: flex;
    align-items: center;
    position: relative;
}

.site-search {
    box-sizing: border-box;
    border: 0;
    width: 370px;
    font-size: 16px;
    color: black;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px 40px 10px 20px;
}

.search-icon {
    position: absolute;
    right: 10px;
}

.widgets-block {
    display: flex;
    gap: 25px;
}

.widget-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    width: 35px;
    height: 35px;
    transition: all 0.3s linear;
    &:hover {
        cursor: pointer;
        background-color: #D9D9D9;
    }
}